.btn-success {
    padding: 10px 30px;
    background-color: #073dba;
    -webkit-box-shadow: 1px 6px 46px 12px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 1px 6px 46px 12px rgba(0, 0, 0, 0.51);
    box-shadow: 1px 6px 46px 12px rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    border: none;
    &:hover {
        background-color: #073dba;
        border-color: #073dba;
    }
}
.btn-success:focus,
.btn-success:active:focus,
.btn-success:active {
    background-color: #073dba;
    border-color: #073dba;
}

