.app-wrap {
    height: 100vh;
    background-color: #0b0033;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-box {
    width: 50vh;
    @include mq(tablet-up) {
        width: 60vh;
    }
    @include mq(desktop-up) {
        width: 70vh;
    }
    
    border-radius: 15px;
    -webkit-box-shadow: 2px 6px 56px 4px #004af3;
    -moz-box-shadow: 2px 6px 56px 4px #004af3;
    box-shadow: 2px 6px 56px 4px #004af3;
    margin-bottom: 50px;
    background-color: white;
}

.music-box-title {
    padding: 30px 20px;
    text-align: center;
    border-bottom: 1px solid white;
    h1 {
        margin: 0;
        color: #000000;
    }
}

.music-box-songs {
    
    ul {
        list-style: none;
        padding: 0;
        li {
            display: flex;
            justify-content: space-between;
            background-color: #0236b2;
            color: black;
            padding: 20px;
            border-bottom: 1px solid white;
            span {
                color: white;
            }
        }
        .current {
            background-color: #0237ff;
        }
    }
}

.music-controls {
    
}